body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.avatar {
  .d-inline-flex;
  @size: 60px;
  .mixin-height(@size);
  .mixin-width(@size);
  .mixin-rounded(100%);
  overflow: hidden;
  img {
    .mixin-width(100%);
  }
}

.major-song-title {
  font-size: 90px;
  line-height: 100px;
  font-weight: 900;
}

@pollingInterval: 900ms;

.seek-controls {
  .seek-controls-progress {
    position: relative;
    .progress{
      background: fade(@color-white, 15%);
      height: 4px;
      &,
      .progress-bar {
        .mixin-rounded(8px);
      }
      .progress-bar {
        .mixin-transition(width @pollingInterval linear);
        background: fade(@color-white, 65%);
      }
    }
    .seek-controls-handle {
      position: absolute;
      margin-top: auto;
      margin-bottom: auto;
      top: 0;
      bottom: 0;
      background: @color-white;
      .mixin-opacity(0);
      .mixin-width(13px);
      .mixin-height(13px);
      .mixin-rounded(13px);
      .mixin-transform(translateX(-50%));
      .mixin-transition(left @pollingInterval linear);
      cursor: default;
    }
  }
  &:hover {
    .seek-controls-progress {
      .progress-bar {
        background: @color-primary;
      }
      .seek-controls-handle {
        .mixin-opacity(1);
      }
    }
  }
  &.seek-controls-dragging {
    .seek-controls-progress {
      .progress-bar,
      .seek-controls-handle {
        .mixin-transition(none);
      }
      .seek-controls-handle {
        .mixin-opacity(1);
      }
    }
  }
}

body {
  background: @color-gray-dark;
}

.major-album-background-img {
  background-size: cover;
  background-position: 100% 50%;
  .mixin-transform(scale(1.2));
  filter: blur(80px);
}

.major-album-background {
  // background: fade(@color-gray-darkest, 70%);
  @startColor: fade(@color-gray-darkest, 95%);
  @endColor: fade(@color-gray-darker, 65%);
  background: -webkit-linear-gradient(315deg, @startColor, @endColor);
  background: -moz-linear-gradient(315deg, @startColor, @endColor);
  background: -ms-linear-gradient(315deg, @startColor, @endColor);
  background: -o-linear-gradient(315deg, @startColor, @endColor);
  background: linear-gradient(315deg, @startColor, @endColor);
}

.list-styles {
  .mixin-rounded(4px);
  border: none;
  font-weight: @fw-4;
  color: @color-white;
  background: none;
  cursor: pointer;
  .small {
    .mixin-opacity(0.7);
  }
  &.active,
  &:active {
    background: none;
    font-weight: @fw-4;
    &,
    .small {
      color: @color-primary;
    }
  }
  &.active,
  &:active {
    background: darken(@color-gray-darker, 2.5%);
  }
  &:hover {
    background: lighten(@color-gray-darker, 2.5%);
  }
}

.dropdown-menu {
  background: fade(@color-gray-darker, 98%);
  border: 1px solid darken(@color-gray-darker, 2.5%);
  .p-3;
  .dropdown-item {
    .p-3;
    .mixin-rounded(3px);
    font-size: 85%;
    font-weight: @fw-5;
    .list-styles();
  }
}

ul.list-group {
  border: none;
  .p-0;
  .m-0;
  li {
    .list-styles();
  }
}

.major-controls {
  .fa {
    .mixin-opacity(0.75);
    cursor: pointer;
    &:hover {
      .mixin-opacity(1);
    }
  }
}

.major-controls-icon {
  display: inline-block;
  color: @color-white;
  cursor: pointer;
  position: relative;
  &.major-controls-icon-active {
    color: @color-primary;
    &:after {
      .d-flex;
      .align-items-center;
      .justify-content-center;
      .mixin-rounded(8px);
      position: absolute;
      margin-right: auto;
      margin-left: auto;
      left: 0;
      right: 0;
      cursor: default;
      background: @color-primary;
      color: @color-gray-darkest;
      font-size: 5px;
      font-weight: 700;
      font-family: @font-1;
      .mixin-height(4px);
      .mixin-width(4px);
      bottom: -10px;
      content: '';
    }
  }
  &.major-controls-icon-repeat-track {
    &:after {
      .mixin-height(8px);
      .mixin-width(8px);
      bottom: -12px;
      content: '1';
    }
  }
}

@albumArtOffset: 100%;
@albumArtAnimDur: 200ms;

.major-album-art-wrap {
  .mixin-height(100%);

  .major-album-art {
    position: absolute;
    .mb-5;
    .p-5;
    .mixin-width(100%);
    cursor: pointer;
    img {
      .mixin-width(100%);
      .mixin-shadow(0 3px 9px rgba(0,0,0,0.5));
    }
  }

  .major-album-art-1 {
    .mixin-animation(ALBUM_ART_ENTER @albumArtAnimDur 1);
    top: 0;
  }
  .major-album-art-2 {
    .mixin-animation(ALBUM_ART_LEAVE @albumArtAnimDur 1);
    top: -@albumArtOffset;
  }

  &.major-album-art-wrap-toggle-class {
    .major-album-art-1 {
      .mixin-animation(ALBUM_ART_LEAVE @albumArtAnimDur 1);
      top: -@albumArtOffset;
    }
    .major-album-art-2 {
      .mixin-animation(ALBUM_ART_ENTER @albumArtAnimDur 1);
      top: 0;
    }
  }

  .major-album-art {
    animation-timing-function: ease-in-out;
  }

  .mixin-transform(scale(1));
  .mixin-opacity(1);
  .mixin-transition(all 0.3s ease-in-out);
  &:hover {
    .mixin-opacity(0.75);
    .mixin-transform(scale(0.98));
  }
  &.major-album-art-wrap-paused {
    .mixin-transform(scale(0.93));
    .mixin-opacity(0.5);
    &:hover {
      .mixin-opacity(0.75);
      .mixin-transform(scale(0.95));
    }
  }

}

@keyframes ALBUM_ART_ENTER {
  0% {
    top: @albumArtOffset;
  }
  100% {
    top: 0;
  }
}

@keyframes ALBUM_ART_LEAVE {
  0% {
    top: 0;
  }
  100% {
    top: -@albumArtOffset;
  }
}

.major-album-background-wrap {
  position: fixed;
  .mixin-height(100%);
  .mixin-width(100%);

  .major-album-background-img {
    position: fixed;
    .mixin-height(100%);
    .mixin-width(100%);
  }

  .major-album-background-img-1 {
    .mixin-animation(BG_ALBUM_ART_ENTER @albumArtAnimDur 1);
    .mixin-opacity(1);
  }
  .major-album-background-img-2 {
    .mixin-animation(BG_ALBUM_ART_LEAVE @albumArtAnimDur 1);
    .mixin-opacity(0);
  }

  &.major-album-background-wrap-toggle-class {
    .major-album-background-img-1 {
      .mixin-animation(BG_ALBUM_ART_LEAVE @albumArtAnimDur 1);
      .mixin-opacity(0);
    }
    .major-album-background-img-2 {
      .mixin-animation(BG_ALBUM_ART_ENTER @albumArtAnimDur 1);
      .mixin-opacity(1);
    }
  }

  .major-album-background-img {
    animation-timing-function: ease-in-out;
  }

}

@keyframes BG_ALBUM_ART_ENTER {
  0% {
    .mixin-opacity(0);
  }
  100% {
    .mixin-opacity(1);
  }
}

@keyframes BG_ALBUM_ART_LEAVE {
  0% {
    .mixin-opacity(1);
  }
  100% {
    .mixin-opacity(0);
  }
}